addict==2.4.0
aistudio-sdk==0.3.8
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
astor==0.8.1
asttokens==3.0.1
attrdict==2.0.1
attrs==26.1.0
babel==2.18.0
bce-python-sdk==0.9.70
beautifulsoup4==4.14.3
blinker==1.9.0
cachetools==7.1.2
certifi==2026.4.22
chardet==7.4.3
charset-normalizer==3.4.7
click==8.3.3
coloredlogs==15.0.1
colorlog==6.10.1
comm==0.2.3
ConfigArgParse==1.7.5
contourpy==1.3.2
controller-manager==2.53.1
controller-manager-msgs==2.53.1
crc32c==2.8
cssselect==1.4.0
cssutils==2.15.0
cuda-bindings==13.2.0
cuda-pathfinder==1.5.3
cuda-toolkit==13.0.2
cycler==0.12.1
Cython==3.2.4
dash==4.1.0
decorator==5.2.1
domain-coordinator==0.10.0
dynamixel-sdk==4.0.3
easyocr==1.7.2
encutils==1.0.0
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.29.0
fire==0.7.1
Flask==3.1.3
flask-babel==4.0.0
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.3.0
future==1.0.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.12.0
humanfriendly==10.0
iai-cylinder==0.0.0
idna==3.13
ImageIO==2.37.3
imagesize==2.0.0
imgaug==0.4.0
importlib_metadata==9.0.0
ipython==8.39.0
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
lazy-loader==0.5
lmdb==2.2.0
lxml==6.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.1
mdurl==0.1.2
modelscope==1.36.2
more-itertools==11.0.2
mpmath==1.3.0
narwhals==2.20.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.13.0
numpy==1.26.4
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
onnxruntime-gpu==1.23.2
open3d==0.19.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.1.5
opt-einsum==3.3.0
osrf-pycommon==2.1.6
packaging==26.2
paddlepaddle-gpu==2.6.1
pandas==2.3.3
parso==0.8.6
pdf2docx==0.5.13
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.6
plotly==6.7.0
premailer==3.10.0
prettytable==3.17.0
prompt_toolkit==3.0.52
protobuf==7.34.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyclipper==1.4.0
pycryptodome==3.23.0
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
PyMuPDF==1.27.2.3
pyparsing==3.3.2
pypdfium2==5.7.1
pyquaternion==0.9.9
pyrealsense2==2.57.7.10387
pyserial==3.5
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-qt-binding==1.1.3
pytz==2026.1.post1
PyYAML==6.0.2
pyzbar==0.1.9
RapidFuzz==3.14.5
rarfile==4.2
referencing==0.37.0
requests==2.33.1
resource-retriever==3.1.3
retrying==1.4.2
rich==15.0.0
rpds-py==0.30.0
rpyutils==0.2.2
ruamel.yaml==0.19.1
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
soupsieve==2.8.3
srdfdom==2.0.7
stack-data==0.6.3
sympy==1.14.0
teleop-twist-keyboard==2.4.1
termcolor==3.3.0
threadpoolctl==3.6.0
tifffile==2025.5.10
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
traitlets==5.14.3
triton==3.6.0
typer==0.25.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
ujson==5.12.0
urdfdom-py==1.2.1
urllib3==2.6.3
visualdl==2.5.3
wcwidth==0.6.0
Werkzeug==3.1.8
widgetsnbextension==4.0.15
xarm-python-sdk==1.17.3
zipp==3.23.1
